.home {
  padding: 2rem;
}

.title {
  margin-bottom: 3rem;
  color: white;
}

.home h3 {
  color: white;
}

.songHome {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

@media (max-width: 400px) {
  .home {
    padding: 1rem;
  }

  .title {
    margin-bottom: 2rem;
  }

  .songHome {
    grid-template-columns: 1fr;
  }
}
