.reproductor {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1b1b1b;
  color: white;
  padding: 2rem 0;
  box-shadow: 0 0.1rem 0.5rem black;
}

.sound {
  display: flex;
  align-items: center;
}

.barSong {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 0.5rem;
  justify-content: center;
}

.barSound {
  margin-left: 0.2rem;
}

.progress {
  width: 20rem;
}

.play {
  padding: 0.5rem;
  text-align: center;
  margin-left: 1rem;
  background-color: white;
  color: #1b1b1b;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.play:hover {
  opacity: 0.8;
}

input[type="range"] {
  display: block;
  width: 250px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
  background-color: #777;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-top: -9px;
}

input[type="range"]::-ms-thumb {
  border: 3px solid #333;
}

input[type="range"]::-webkit-slider-runnable-track {
  background-color: #777;
  height: 3px;
}

@media (max-width: 400px) {
  .reproductor {
    flex-direction: column;
  }

  .reproductor h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .sound {
    margin-top: 0.5rem;
  }

  .progress {
    width: 15rem;
    margin: 0.5rem 0;
  }

  input[type="range"] {
    width: 200px;
  }
}
